.questionbar {
    box-sizing: border-box;
    grid-area: questionbar;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.questionbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.questionCard {
    box-sizing: border-box;
    background-color: white;
    height: 230px;
    margin-bottom: 30px;
    border-top: 6px solid lightgray;
    border-radius: 6px 6px 0 0;
}

/* .questionCard input, button {
    outline: none;
} */

.header, .questionText, .option, .ansverChoice, .footer {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    align-items: center;
    max-width: 100%;
    border-bottom: 1px solid rgb(223, 228, 229);
}

.option, .questionText, .ansverChoice {
    margin-left: 25px;
}

.option, .ansverChoice {
    height: 30px;
}

.ansverChoice, .footer {
    border-bottom: none;
}

/* ////////////////////////////////////////////////////// */

.header {
    height: 50px;
}

.header .cardNumber, .header input, button {
    margin: 0 10px 0 10px;
    height: 30px;
}

.header .cardNumber {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    border-radius: 50%;
    background-color: rgb(235, 231, 231);
    font-size: larger;
}

.header input {
    width: 200px;
    font-size: larger;
}

button {
    min-width: 80px;
    background-color: rgb(32, 64, 111);
    color: white;
    border: 1px solid rgb(32, 64, 111);
    border-radius: 3px;
    outline: none;
}

button:hover {
    background-color: rgb(66, 107, 168);
    border: 1px solid rgb(66, 107, 168);
}

button:active {
    background-color: seagreen;
    border: 1px solid seagreen;
}

/* ////////////////////////////////////////////////////// */

.questionText {
    height: 60px;
}

.questionText input {
    height: 35px;
    width: 255px;
    background-color: white;
    line-height: 35px;
    font-size: large;
}

/* ////////////////////////////////////////////////////// */

.option .dots, .option label, .option input[type='text'] {
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
}

.option .dots {
    line-height: 20px;
    font-size: xx-large;
    font-weight: bold;
    color: lightgray;
}

.option label {
    line-height: 20px;
    margin-left: 15px;
    color: lightgray;
}

.option input[type='text'] {
    flex: 1;
    font-size: medium;
    margin-right: unset;
    margin-left: unset;
    padding-right: unset;
    padding-left: unset;
}

/* ////////////////////////////////////////////////////// */

.ansverChoice {
    color: lightgray;
    padding-left: 10px;
}

.ansverChoice .footer {
    height: 30px;
    margin-left: 25px;
    border-bottom: none;
}