.sidebar {
    grid-area: sidebar;
    background-color: white;
    display: grid;
    grid-template-columns: 0.8fr 4.2fr;
    box-shadow: 0 -7px 5px 0 rgb(170, 170, 170);
}

.sidebar .nav {
    border-right: 1px solid lightgray;
    text-align: center;
}

.sidebar .navItem, .todoItem {
    max-width: 100%;
    height: 50px;
}

.sidebar .nav .navItem {
    position: relative;
}

.sidebar .nav .navItem:hover {
    box-shadow: inset 3px 3px 2px 0 lightblue, inset -3px -3px 2px 0 lightblue;
    
}

.sidebar .nav .navItem a {
    color: white;
    text-decoration: none;
}

.sidebar .nav .navItem .activeLink {
    color: green;
}

.sidebar .nav .navItem img {
    width: 30px;
    height: 30px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.sidebar .todo .todoItem, .todoItems {
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}

.sidebar .todo .todoItem:hover {
    box-shadow: inset 3px 3px 2px 0 lightblue, inset -3px -3px 2px 0 lightblue;
    cursor: cell;
   
}

.sidebar .todo .todoItems span {
    font-size: larger;
    font-weight: bold;
}