.navItem {
    box-sizing: border-box;
    height: 50px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.navItem:hover {
    box-shadow: inset 3px 3px 2px 0 lightblue, inset -3px -3px 2px 0 lightblue;
}

.navItem img {
    width: 30px;
    height: 30px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}